
  <mat-toolbar>
    <button routerLink="/" mat-icon-button class="example-icon favorite-icon" id="logo" aria-label="Example icon-button with heart icon">
      <mat-icon>movie</mat-icon>

    </button>
    <h1 id="logo" routerLink="/">CINEMA LOGO</h1>

    <span class="example-spacer"></span>
    <button [routerLink]="userService.hasCurrentUser() ? '/profile' : '/login'" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>person</mat-icon>
    </button>

    <button routerLink="/cart" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>shopping_cart</mat-icon>
      

    </button>


  </mat-toolbar>






<router-outlet />

