
.place-holder{
    height: 100px;
}
.profile-card{
    display: flex;
    justify-content: center;
}
.example-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
button{
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-right: 10px;
}

    
