/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
  background: rgb(13,13,13);
  background: radial-gradient(circle, rgba(27,16,97,1) 0%, rgb(13,13,13) 79%);

}
.mat-toolbar {
  background-color: transparent !important;
  position: fixed !important;
}
.example-spacer {
  flex: 1 1 auto;
}
#logo:hover {
  cursor: pointer;
}
.footer{
  background-color: rgb(13,13,13);
  border-top: 1px solid black;
  width: 97.9%;
  height: 60px;
  padding: 20px;
  margin-top: 0px;
  position: absolute;
  bottom:0;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
