<div class="place-holder"></div>
<div class="featured">
  
    <img mat-card-image class="featured-image" src="https://wallpaperswide.com/download/star_wars_poster-wallpaper-2560x1440.jpg" alt="Photo of a Shiba Inu">
   
    <mat-form-field class="example-form-field">
      <mat-label>Search</mat-label>
      <input class="input-field" matInput (keyup)="filterMoviesByName($event)">
    </mat-form-field>
</div>
<br>
<br>
<div class="card-container">
  @for(movie of filteredMovies; track movie.id) {
  <mat-card class="example-card first-row first-card"  appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{movie.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="card-image" routerLink="/more" [src]="movie.imageUrl" alt="{{movie.name}} poster">
    <mat-card-content>
    
    </mat-card-content>
    <mat-card-actions class="action-buttons">
      <button mat-button class="card-button" routerLink="/projections">See Projections</button>
    </mat-card-actions>
  </mat-card>
  }
  
  
</div>
